<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MEditor.Properties.Settings>
            <setting name="font" serializeAs="String">
                <value>[Font: Name=微软雅黑, Size=12, Units=3, GdiCharSet=1, GdiVerticalFont=False]</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value>255,255,255</value>
            </setting>
            <setting name="bgcolor" serializeAs="String">
                <value>74,82,90</value>
            </setting>
            <setting name="css" serializeAs="String">
                <value>body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}h1{font-size:22px;}h2{font-size:21px;}h3{font-size:20px;}h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}small{font-size:12px;}a{text-decoration:none;}a:hover{text-decoration:underline;}abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}q:before,q:after{content:'';}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}hr{border:0;height:1px;*color:#fff;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;}body,button,input,select,textarea{font:12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}h1{font-size:22px;}h2{font-size:21px;}h3{font-size:20px;}h4,h5,h6{font-size:100%;}address,cite,dfn,em,var{font-style:normal;}code,kbd,pre,samp,tt{font-family:"Courier New",Courier,monospace;}small{font-size:12px;}a{text-decoration:none;}a:hover{text-decoration:underline;}abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}q:before,q:after{content:'';}legend{color:#000;}fieldset,img{border:0;}button,input,select,textarea{font-size:100%;}table{border-collapse:collapse;border-spacing:0;}hr{border:0;height:1px;*color:#fff;}

body {
	FONT: 14px/150% Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	COLOR: #ddd;
	text-align: left;
	background:#333
}
.head{ height:40px; width:100%; background:#000}
.content{margin:15px;}

.markdown_table{ border:1px solid #666;}
th,td{ line-height:27px; height:27px; padding:0 5px; border:1px solid #666}
th{ background:#444;text-align:center;color:#fff}

p,li,table{font-family:"微软雅黑";}

p,h1,h2,h3{ margin:15px 0;}
ul,ol{ padding-left:24px;}
li{ line-height:29px;}
li p{ margin:0}
.foot{height:17px; width:100%; background:#333;border-top:0px solid #ccc;margin-top:10px;}
hr{ color:#666; height:1px;}
a{ color:#cc6;text-decoration:underline}
a:hover{color:#cc6}body {
	FONT: 14px/150% Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	COLOR: #ccc;
	text-align: left;
	background:#333
}
.head{ height:40px; width:100%; background:#000}
.content{margin:15px;}

.markdown_table{ border:1px solid #666;}
th,td{ line-height:27px; height:27px; padding:0 5px; border:1px solid #666}
th{ background:#444;text-align:center;color:#fff}

p,li,table{font-family:"微软雅黑";}

p,h1,h2,h3{ margin:15px 0;}
ul,ol{ padding-left:24px;}
li{ line-height:29px;}
li p{ margin:0}
.foot{height:17px; width:100%; background:#333;border-top:0px solid #ccc;margin-top:10px;}
hr{ color:#666; height:1px;}
a{ color:#cc6;text-decoration:underline}
a:hover{color:#cc6}

blockquote{border-left:#555 3px solid; padding-left:10px;margin-left:20px;}</value>
            </setting>
            <setting name="extfile" serializeAs="String">
                <value>.txt|.js|.htm|.xml|.as|.log|.php|.cs</value>
            </setting>
        </MEditor.Properties.Settings>
    </applicationSettings>
</configuration>